body {background-color: black}
#header {color: white; text-align: center; margin-top: 1%;}
h4 {color: white}
#main_rectangle {position: absolute; background-color: black;
  width: 90%; height: 80%; left: 5%; top: 10%;
  border-radius: 5px; border: 1pt solid #39FF14;}
#starfighter {position: absolute; width: 10%}
#falcon {position: relative; height: 13%}
